@charset "UTF-8";



.k_sas_b	{
	position: absolute;
	right: 10px;
	top: 0px;
	
}

.k_sas_point	{
	box-shadow: 0px 0px 0px 5px #4cbee3;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-kthtml-transition: all 0.3s linear;
}









